.generic-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.generic-list li {
    align-items: center;
    display: flex;
    margin-bottom: 8px;
}

.list-add-input,
.list-input {
    align-items: center;
    display: flex;
}

.generic-list li input[type='text'],
.list-add-input input[type='text'] {
    box-sizing: border-box;
    flex: 1;
    margin-right: 8px;
    padding: 6px;
}

.list-input .remove-field {
    cursor: pointer;
    padding: 6px 10px;
}

.list-add-input .add-field {
    cursor: pointer;
    padding: 6px 10px;
}
